<ul>
  <% if ::Refinery::ProjectIndividuals::Admin::ProjectIndividualsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.project_individuals_admin_project_individuals_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_project_individuals_admin_project_individual_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::ProjectIndividuals::Admin::ProjectIndividualsController.sortable? && ::Refinery::ProjectIndividuals::ProjectIndividual.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Project Individuals"),
                 refinery.project_individuals_admin_project_individuals_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Project Individuals"),
                 refinery.project_individuals_admin_project_individuals_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
